@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@theme {
  --font-poppins: Poppins, sans-serif;

  --breakpoint-sm: 390px;
  --breakpoint-xl: 1440px;

  /* Overrides the existing color system */
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-surface: #eee8d5;
  --color-background: #fdf6e3;
  --color-text: oklch(0% 0 0);
  --color-text-neutral: oklch(20.02% 0 0 / 65%);

  --color-cta-button-bg: #ffffff;
  --color-cta-button-hover: #f5f5f5;
  --color-cta-button-border: rgba(148, 163, 184, 0.9);

  --duration: 40s;
  --gap: 1rem;

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  [data-theme="dark"] {
    --color-surface: oklch(18.08% 0.0139 258.36);
    --color-background: oklch(14.48% 0 0);
    --color-text: oklch(100% 0 0);
    --color-text-neutral: oklch(71.07% 0.0351 256.79 / 90%);

    --color-cta-button-bg: #0a0a0a;
    --color-cta-button-hover: #0e1218;
    --color-cta-button-border: rgba(148, 163, 184, 0.9);
  }

  body {
    @apply font-poppins leading-[1.5] tracking-normal bg-background text-text transition-colors duration-300;
  }

  /* First child of body */
  .wrapper {
    @apply w-full px-[16px] sm:px-[32px] md:px-[48px] xl:px-[80px];
  }

  .responsive-h1 {
    font-size: clamp(1.7rem, 5vw, 3rem);
  }

  .responsive-h2 {
    font-size: clamp(1.375rem, 5vw, 2.5rem);
  }

  .responsive-h3 {
    font-size: clamp(1.25rem, 5vw, 2.0625rem);
  }

  h1 {
    @apply font-semibold;
  }

  h2 {
    @apply font-bold;
  }

  h3 {
    @apply font-semibold;
  }
}

@layer components {
  .heading-4-light {
    @apply font-light text-[19px] sm:text-[27px];
  }

  .heading-4-regular {
    @apply font-normal text-[19px] sm:text-[27px];
  }

  .heading-4-bold {
    @apply font-semibold text-[19px] sm:text-[27px];
  }

  .heading-5-light {
    @apply font-light text-[18px] sm:text-[23px];
  }

  .heading-5-regular {
    @apply font-normal text-[18px] sm:text-[23px];
  }

  .heading-5-bold {
    @apply font-semibold text-[18px] sm:text-[23px];
  }

  .body-light {
    @apply font-light text-[14px] md:text-[16px];
  }

  .body-regular {
    @apply font-normal text-[14px] md:text-[16px];
  }

  .body-bold {
    @apply font-semibold text-[14px] md:text-[16px];
  }

  .subtitle-light {
    @apply font-light text-[13px];
  }

  .subtitle-regular {
    @apply font-normal text-[13px];
  }

  .subtitle-bold {
    @apply font-semibold text-[13px];
  }

  .caption-regular {
    @apply font-normal text-[11px];
  }

  .caption-bold {
    @apply font-medium text-[11px];
  }

  .footnote-regular {
    @apply font-normal text-[10px];
  }

  .footnote-bold {
    @apply font-medium text-[10px];
  }
}

:root {
  --ray-light-bg: hsla(216, 57%, 45%, 0.5);
  --ray-light-gradient: radial-gradient(
    ellipse closest-side at center,
    hsl(138, 57%, 69%) 0%,
    hsla(216, 57%, 45%, 0.5) 100%
  );

  --ray-light-secondary-bg: hsla(202, 56%, 31%, 0.25);
  --ray-light-secondary-gradient: radial-gradient(
    ellipse farthest-corner at center,
    hsl(164, 39%, 53%) 0%,
    hsla(202, 56%, 31%, 0.25) 55%
  );
}

[data-theme="light"] {
  --ray-light-bg: transparent;
  --ray-light-gradient: none;

  --ray-light-secondary-bg: transparent;
  --ray-light-secondary-gradient: none;
}
